*{
    font-family: Helvetica,Arial, sans-serif;
}

body
{
    position: relative;
    height: calc(100vh - 16px);
}

.tablink
{
    display: inline-block;
    margin-right:-4px;
    gap:0px;
    border:none;
    background-color: transparent;
    color:white;
    padding:10px;
    font-weight: bold;
    font-size:15px;
}

.tablink:hover
{
    background-color:yellowgreen;
    color:white;
}

.tablink:active
{
    background-color:rgb(177, 231, 69);
}

.tabBar button.active
{
    background-color:yellowgreen;
}

.tabBar
{
    background-color: rgb(118, 160, 33);
}

.container
{
    background-color:rgb(238, 238, 237);
    width:clamp(400px, 80%, 1000px );
    min-height: 200px;

    position:absolute; 
    left:50%;
    top:50%;
     transform:translate(-50%,-50%);
}


.section
{
    display: none;
    padding:10px;
    animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
