.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(43, 109, 68);
}


.navSection
{
    display: flex;
    align-items: center;

}

body
{
    height: 100vh;
    padding: 0px;
    margin:0px
}

#logo
{
    object-fit:contain;
    height: 100%;
}
.navBranding
{
    height:80px;
}

.navlink
{
    display:flex;
    justify-content: space-between;
    gap:10px;
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}



.navlink svg path
{
    fill:white;
}

.navlink:hover svg path
{
    fill:green;
}


.navOptions
{
    display:flex;
    justify-content: space-evenly;
    /* gap:30px; */
    height: 100%;
}

.navOptions >*
{
    display: flex;
    padding-inline:15px;
    justify-content: center;
    align-items: center;
}

.navlink:hover
{
    background-color: white;
    color:green;
}


.navLogin
{
    padding-right: 30px;
    padding-left: 30px;
    display:flex;
    justify-content: space-evenly;
    height: 100%;
}

.navLogin >*
{
    padding-inline:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLogin >*:hover
{
background-color: white;
color:green;
}

.navLogin>:first-child
{
 background-color: rgb(56, 148, 72);

}

.navLogin>:first-child:hover
{
 background-color: rgb(233, 228, 183);
 color:grey;
}


#navSearch
{
    height: 25px;
    border-radius: 10px;
    border:none;
    width: 300px;
    padding-inline:10px;
}

.navSearch
{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon
{
    width: 20px;
    height:20px;
    position:absolute;
    right:10px;
}

.searchIcon path
{
    color: grey;
}
